*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a:hover{
    text-decoration: none;
}
/*通用样式*/
/*logo*/
.logo img{
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo p{
    font-size: 25px;
    color: #4183c4;
    font-weight: bold;
}
.num i{
    margin-top: -15px;
    margin-right: 5px;
}
.num span{
    cursor:pointer;
}
.top-p{
    display: none;
}
/*main*/
.main-top div{
    border-top: #000 solid 1px;
    width: 47%;
    float: left;
}
.main-top span{
    float: left;
    width: 6%;
    margin-top: -15px;
    font-size: 20px;
}
main .kuang{
    border: #dededf 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    height: 90px;
/*        background-color: #fff;*/
/**/
}
main .kuang .row div{
    margin-top: 25px;
}
main .kuang .row{
    margin: 0px 10px;
}
main .kuang .col-md-2,
main .kuang .col-md-6{
    padding-left: 0px;
}
main .kuang .col-md-4{
    padding: 0px 5px;
}
main .kuang p{
    margin-top: 5px;
}
main .kuang a i{
    margin-right: 5px;
}
main .kuang a{
    padding:6px 13px;
    background-color: #e8e8e8;
    border-radius: 4px;
}