<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
   <div class="container">
       <div class="logo text-center">
           <img src="img/logo.png" alt="">
           <p>座位表</p>
       </div>
       <div class="num">
           <div><i class="fa fa-caret-up"></i><span href="#">使用提示</span></div>
           <p class="top-p">点击学员信息可以来回切换选中效果;</p>
       </div>
   </div>
</header>
<!--main-->
<main id="main">
   <div class="container">
       <div class="main-top text-center clearfix">
           <div></div>
           <span>座位</span>
           <div></div>
        </div>
        <div class="row">
            <div class="col-md-3" v-for="(list,index) in lists">
                <p>{{index+1}}组</p>
                <div class="kuang" v-for="l in list">
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/main-ren.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <a href="#"><i class="fa fa-desktop"></i>{{l.seat}}</a>
                        <p>{{l.post}}</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{l.name}}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
   </div>
    
</main>
<body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<script src="js/script.js"></script>
</body>
</html>